button.submit {
  float: right;
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

.dc_card {
  overflow: hidden;
  width: 180px;
  height: 251px;
  transition-duration: 200ms;
  transition-property: filter;
  filter: saturate(.7);
}

.dc_ib {
  display: inline-block;
}

.dc_point {
  cursor: pointer;
}
